* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  height: 50px;
  border: black solid 1px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: palevioletred;
}

.box {
  width: 250px;
  height: 30px;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}