* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.box1 {
  width: 200px;
  border: 10px solid red;
  background-color: blue;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px;
}

.box2 {
  width: 200px;
  border: 10px solid magenta;
  background-color: yellow;
  padding: 20px;
  margin: 20px;
  /* 300px total */
}